body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', serif;
  color: #d6c8d9;
  height: 100%;
  width: 100vw;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjYmViMGMyIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM4YzliZGQiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%,color-stop(0, rgb(190, 176, 194)),color-stop(1, rgb(140, 155, 221)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(bottom,rgb(190, 176, 194) 0%,rgb(140, 155, 221) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to top,rgb(190, 176, 194) 0%,rgb(140, 155, 221) 100%);
  background-image: -ms-repeating-linear-gradient(bottom,rgb(190, 176, 194) 0%,rgb(140, 155, 221) 100%);
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

